{$DOMAIN} {
    encode gzip
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "no-referrer"
        -Server
    }
    @api path /api/* /healthz
    handle @api {
        reverse_proxy server:3000
    }
    handle_path /s/* {
        root * /srv/web
        file_server
    }
    redir / /s/ permanent
}
